* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif
}

h1, h2, h3 {
    margin: 15px 0;
    text-align: center;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.box {
    background: #fff;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 5px 20px rgb(149 149 149 / 95%);
    padding: 30px;
    width: 400px;
    max-width: 90%;
}


button {
    background-color: #9cc658;
    color: #fff;
    margin: 20px 0;
    cursor: pointer;
    border: none;
    min-height: 46px;
    min-width: 200px;
    padding: 0 16px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}


input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}
